[submodule "nvim"]
	path = nvim
	url = https://github.com/phasewalk1/nvim-cfg
[submodule "fish"]
	path = fish
	url = https://github.com/phasewalk1/fishcfg
[submodule "st"]
	path = st
	url = https://github.com/phasewalk1/st-build
[submodule "awesome-cfg"]
	path = awesome-cfg
	url = https://github.com/phasewalk1/awesome-cfg
