[submodule "nvim"]
	path = nvim
	url = https://github.com/phasewalk1/nvim-cfg
[submodule "fish"]
	path = fish
	url = https://github.com/phasewalk1/fish
[submodule "awesome"]
	path = awesome
	url = https://github.com/phasewalk/awesome-cfg
